body {
    font-family: "Cormorant Garamond", sans-serif;
    color: white;
}

.fundo {
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100vw;
}

.quadrado {
    position: absolute;
    margin: 58px;
    height: 90vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    z-index: -998;
    backdrop-filter: blur(32px);
    border: 5px solid rgba(255, 255, 255, 0.3); /* Para ter uma borda com grossura, cor e transparência */
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 120px 160px 0px 160px;
    align-items: center;
    font-weight: 500;
}

.tema {
    font-size: 36px;
}

.botoes {
    font-size: 30px;
    display: flex;
    gap: 45px;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); /* Para ficar com blur */
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Para ter uma sombra */
}

.text-join {
    font-size: 32px;
}

/* MAIN */
main {
    flex-grow: 1;
    padding: 190px 160px 0px 160px;
    display: flex;
}

.titulo {
    font-size: 75px;
    font-weight: bold;
    width: 1000px;
    line-height: 0.8;
}

.descricao {
    font-size: 43px;
    font-weight: 500;
    width: 1300px;
    padding: 90px 0px 90px 0px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-book {
    font-size: 37px;
    font-weight: 500;
}

.arvore {
    height: 75vh;
    width: 75vw;
    position: absolute;
    transform: translate(44%, -9%);
}

/* FOOTER */
footer {
    display: flex;
    gap: 90px;
    padding: 150px 0px 0px 160px;
}

.app {
    font-size: 40px;
}